[theme]
name = "slick"

icons = "none"

[[block]]
block = "sound"

[[block]]
block = "net"
device = "wlo1"
ssid = false
speed_up = false
speed_down = false

[[block]]
block = "net"
device = "enp2s0"
speed_up = false
speed_down = false
signal_strength = true

[[block]]
block = "time"
interval = 60
format = "%d-%m %a %R "

[[block]]
block = "custom"
command = "~/layout.sh"
interval = 1
