/* make scroll bar more noticeable */
@namespace url("http://www.w3.org/1999/xhtml");
:root{
  scrollbar-color: rgb(52,152,219) rgb(47,48,52) !important;
  scrollbar-width: thin !important;
}
* {
  scrollbar-width: thin !important;
}
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url-prefix("about:"){
  page,
  scrollbar{
    scrollbar-color: rgb(52,152,219) rgb(47,48,52) !important;
    scrollbar-width: thin !important;
  }
}
