/* move statuspanel a little bit higher (in a very strange way) , media query is used
to respect an old 4:3 display*/
/* After Firefox 72.0 update statuspanel is not visible because it's rendered */
/* behind all the stuff but I like my statuspanel so z-index makes sure it's */
/* visible */
@media screen and (max-height: 1024px) {
  @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
  .browserContainer > #statuspanel{z-index:1;-moz-box-ordinal-group:0!important;margin-top: 64%!important}
}
@media screen and (max-height: 768px) {
  @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
  .browserContainer > #statuspanel{z-index:1;-moz-box-ordinal-group:0!important;margin-top: 40%!important}
}
@media screen and (max-height: 1080px) {
  @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
  .browserContainer > #statuspanel{z-index:1;-moz-box-ordinal-group:0!important;margin-top: 32%!important}
}

/* hide navigation buttons from the context menu */
#context-navigation, #context-sep-navigation { display: none !important; }

/* Increase font size of bookmarks bar, tab titles, etc */
#toolbar-menubar .menubar-text,
#toolbar-menubar menuitem,
#toolbar-menubar menu {
  font-size: 20px !important;
}
/* Tab bar */
#TabsToolbar {
  font-size: 12px !important;
}

/* Main Toolbar */
#nav-bar {
  font-size: 12px !important;
}

/* Bookmarks Toolbar */
#PersonalToolbar,
#PersonalToolbar menuitem,
#PersonalToolbar menu {
  font-size: 12px !important;
}

/* Context menus (this is not all of them) */
menupopup[id*="ContextMenu"] menuitem,
menupopup[id*="ContextMenu"] menu,
#placesContext menuitem,
#placesContext menu,
#backForwardMenu menuitem {
  font-size: 12px !important;
}

/* Increase font size of tab's tooltip */
#btTooltip,
#un-toolbar-tooltip,
#tooltip,
.tooltip,
#aHTMLTooltip,
#urlTooltip,
tooltip
{
  font-size: 12px !important;
}
/* #TabsToolbar { visibility: collapse !important; } */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
font-size: 12pt !important
}
/* dim not selected tabs */
.tabbrowser-tab:not([selected]) .tab-content{
    color: #808080 !important;
}
/* .tabbrowser-tab[selected="true"] .tab-content{ */
/*     border-top: 3px solid #924441 !important; */
/* } */

/* now unloaded tabs have a grey border on the top */
.tabbrowser-tab[pending] {
   border-top: 3px solid grey !important;
}

